
   
* {
    margin: 0;
    padding: 0;
    font-family: 'Neucha', cursive;
    background-color: #A7C7E7;
    

}
  /* ---GENERAL PAGE FORMATING--- */
.page-body {
    text-align: center;
    margin: 0rem;
    height: 110vh;
    background-color: #A7C7E7;
    
}
  /* ---GENERAL BUTTON FORMATING--- */
.btn.btn-secondary {
    background-color: #6495ED;
    font-weight: bolder;
    margin: 5px;
    color: black;
}
.btn.btn-secondary:hover {
    color: #A7C7E7;
    background-color: black;
}
  
  /* ---FOOTER--- */
footer {
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFEF1;
    display: flex;
    justify-content: space-around;
 
    
    
}
  
  /* ---FORMS--- */
form {
    margin-left: 20%;
    margin-right: 20%;
    box-shadow:  2px 10px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #34495E;
    font-size: 20px;
    color: black;
    
}

label {

}



input {
    text-align: center;
    
   
    
}
div.form-group {
    margin-bottom: 15px;
    
}
  
  /* ---HEADER--- */
header {
    background-color: #6495ED;
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin: 0.3rem 1;
    background-color: #6495ED;
    position: sticky;
    top: 0; 
    left: 0;
    

    
}

.cat-logo2 {
width: 50px;
margin-right: 1100px;





}


.cat-logo {
width: 300px;


   

  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: #4b4b4b;
}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 50px;
    box-shadow:  2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #A7C7E7;
    
}
  
  /* ---HOME--- */
.raisins {
    height: 500px;
    border-radius: 50%;
    border: 3px solid black;
    
}
  
  /* ---INDEX--- */
.index-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #A7C7E7;
    
    
}
.card.card-body {
    width: 300px;
    background-color: black;
    margin: 20px;
    
}
  
  /* ---NAV--- */
a {
    color: black !important;
    text-decoration: none !important;
    position: sticky;
    top: 0; 
    left: 0;
    display: flex;
    
}

a:hover {
    cursor: pointer !important;
    color: black !important;
    text-decoration: underline !important;
}
  
  /* ---NOT FOUND--- */
.cat-friend {
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}
  
  /* ---SHOW--- */
.card-show.card.card-body {
    margin: 0 auto;
    
}


.new {
  
}